<div class="panel-header panel-header-lg">
    <canvas baseChart id="bigDashboardChart" [datasets]="lineBigDashboardChartData" [labels]="lineBigDashboardChartLabels" [colors]="lineBigDashboardChartColors" [options]="lineBigDashboardChartOptions" [chartType]="lineBigDashboardChartType" (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"></canvas>
</div>

<div class="main-content">
    <div style="position: relative;">
        <ngx-spinner bdOpacity=0.5 bdColor="rgba(51,51,51,0.85)" size="medium" color="#fff" type="line-scale" [fullScreen]="true">
            <p style="color: white"> Initializing our API... </p>
        </ngx-spinner>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category">Stock Value</h5>
                    <h4 class="card-title">Change Over time</h4>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                        <canvas baseChart id="lineChartExample" [datasets]="lineChartData" [labels]="lineChartLabels" [colors]="lineChartColors" [options]="lineChartOptions" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category">Changes in</h5>
                    <h4 class="card-title">Stock Value ($)</h4>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                        <!-- <canvas id="lineChartExampleWithNumbersAndGrid"></canvas> -->
                        <canvas baseChart id="lineChartExampleWithNumbersAndGrid" [datasets]="lineChartWithNumbersAndGridData" [labels]="lineChartWithNumbersAndGridLabels" [colors]="lineChartWithNumbersAndGridColors" [options]="lineChartWithNumbersAndGridOptions" [chartType]="lineChartWithNumbersAndGridType"
                            (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="card card-chart">
                <div class="card-header">
                    <h5 class="card-category">Percentage change</h5>
                    <h4 class="card-title">In Stock Value</h4>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                        <canvas baseChart id="barChartSimpleGradientsNumbers" [datasets]="lineChartGradientsNumbersData" [labels]="lineChartGradientsNumbersLabels" [colors]="lineChartGradientsNumbersColors" [options]="lineChartGradientsNumbersOptions" [chartType]="lineChartGradientsNumbersType"
                            (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card  card-tasks">
                <div class="card-header ">
                    <h5 class="card-category">General informations about</h5>
                    <h4 class="card-title">{{quoteDatas[1]}}</h4>
                </div>
                <div class="card-body text-center">
                    <p><b>Company symbol on stock exchange:</b> {{quoteDatas[0]}}</p>
                    <p><b>Primary exchange:</b> {{quoteDatas[2]}}</p>
                    <p><b>Last API data update:</b> {{quoteDatas[12]}}</p>
                    <p><b>Last open value:</b> {{quoteDatas[4]}}</p>
                    <p><b>Last close value:</b> {{quoteDatas[6]}}</p>
                    <p><b>Historical company high value:</b> {{quoteDatas[8]}}</p>
                    <p><b>Historical company low value:</b> {{quoteDatas[9]}}</p>
                </div>
                <div class="card-footer ">
                    <hr>
                    <div class="stats">
                        <i class="now-ui-icons loader_refresh spin"></i> Updated on {{quoteDatas[12]}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>