<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('../../assets/img/bg6.jpg');">
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title">Welcome, to the next generation of Stock data analysis.</h1>
                <div class="text-center">
                    <a href="/login" class="btn btn-primary btn-round">
                        LOGIN
                    </a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <a href="/register" class="btn btn-primary btn-round">
                        TRY OUR SERVICES
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Who we are?</h2>
                    <h5 class="description">We are a small, AI driven company, that want to guide you, on your own adventure into Stock market investing. With our tools, API's and algorithms built by our team, we minimize your chances of investing into wrong companies.</h5>
                </div>
            </div>
            <div class="separator separator-primary"></div>
            <div class="section-story-overview">
                <div class="row">
                    <div class="col-md-6">
                        <div class="image-container image-left" style="background-image: url('../../assets/img/login.jpg')">
                            <!-- First image on the left side -->
                            <p class="blockquote blockquote-primary">"With the next generation of AI tools and increase in computing power, everything is possible. You just have to reach for it."
                                <br>
                                <br>
                                <small>-CIOAI</small>
                            </p>
                        </div>
                        <!-- Second image on the left side of the article -->
                        <div class="image-container" style="background-image: url('../../assets/img/bg3.jpg')"></div>
                    </div>
                    <div class="col-md-5">
                        <!-- First image on the right side, above the article -->
                        <div class="image-container image-right" style="background-image: url('../../assets/img/bg1.jpg')"></div>
                        <h3>Artificial Intelligence is the fastest developing field in computer science.</h3>
                        <p>Artificial Intelligence, or simply AI, is the term used to describe a machine’s ability to simulate human intelligence. Actions like learning, logic, reasoning, perception, creativity, that were once considered unique to humans,
                            is now being replicated by technology and used in every industry. A common example of AI in today’s world is chatbots, specifically the “live chat” versions that handle basic customer service requests on company websites. As
                            technology evolves, so does our benchmark for what constitutes AI.
                        </p>
                        <p>
                            Artificial Intelligence is a complex field with many components and methodologies used to achieve the final result — an intelligent machine. AI was developed by studying the way the human brain thinks, learns and decides, then applying those biological
                            mechanisms to computers.
                        </p>
                        <p>
                            As opposed to classical computing, where coders provide the exact inputs, outputs, and logic, artificial intelligence is based on providing a machine the inputs and a desired outcome, letting the machine develop its own path to achieve its set goal. This
                            frequently allows computers to better optimize a situation than humans, such as optimizing supply chain logistics and streamlining financial processes.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-contact-us text-center">
        <div class="container">
            <h2 class="title">Do you have any questions?</h2>
            <p class="description">Your opinion is very important for us.</p>
            <div class="row">
                <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                    <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus===true}">
                        <div class="input-group-prepend">
                            <span class="input-group-text"></span>
                        </div>
                        <input type="text" class="form-control" placeholder="First and Last name" (focus)="focus=true" (blur)="focus=false">
                    </div>
                    <div class="input-group input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                        <div class="input-group-prepend">
                            <span class="input-group-text"></span>
                        </div>
                        <input type="text" class="form-control" placeholder="E-mail address" (focus)="focus1=true" (blur)="focus1=false">
                    </div>
                    <div class="textarea-container">
                        <textarea class="form-control" name="name" rows="4" cols="80" placeholder="Type a message..."></textarea>
                    </div>
                    <div class="send-button">
                        <a class="btn btn-primary btn-round btn-block btn-lg">Send Message</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer footer-default">
        <div class="container">
        </div>
    </footer>
</div>